.site-header,
.site-content{
	max-width: $size__site-container;
	width: $size__site-full;
	background-color: $color__background-body;
  	@include center-block;
    padding-left: 15px;
    padding-right: 15px;
}

.content-area,
.site-branding {
	width: $size__site-main;

	@media (max-width: 767px) {
		width: $size__site-full;
	}
}

.site-content .widget-area,
.header-widget {
	width: $size__site-sidebar;

	@media (max-width: 767px) {
		width: $size__site-full;
	}
}
