html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

.logged-in.admin-bar .ab-top-menu a,
.logged-in.admin-bar .ab-top-menu a > p{
  	color: inherit !important;
}


img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

@import "lists";

@import "tables";


// custom style

.head-inner{
	@include clearfix();
	width: $size__site-full;
  margin-bottom: 15px;
  @include mobile-device(){
    text-align: center;
  }
}

.head-inner:after{
	@include clearfix-after();
}

.social-section {
    margin-top: 20px;
    margin-bottom: 10px;
}

.site-title,
.site-title a{
    margin-bottom: 5px;
    @include font-size(2.25);
}

.site-description {
    margin-top: 5px;
}

.head-img{
  margin-bottom: 2.50em;
  position: relative;
  @include clearfix();
  width: 100%;
  &:after{
    @include clearfix-after();
  }
  .head-titlecontainer{
    display: table;
    height: 100%;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 140px;
    bottom: 0;
    margin: auto;
    @include mobile-device(){
       position: static;
       background-color: $color__background-dark;
    }
    .head-title {
       display: inline;
       height: 100%;
       width: 100%;
       max-width: 300px;
       padding: 15px;
       vertical-align: middle;
       background-color: rgba(0,0,0,0.5);
       @include font-size(2.25);
       color: $color__text-button;
       &:hover{
          color: $color__text-button;
       }
       @include mobile-device(){
          @include font-size(1);
       }
    }
  }
}
