html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}


@include placeholder {
  font-style:italic;
  color: $color__background-hr;
}

.logged-in.admin-bar .ab-top-menu a,
.logged-in.admin-bar .ab-top-menu a > p{
  color: inherit !important;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

a.scrollup,
a.scrollup:visited {
  float: right;
  bottom: 50px;
  display: none;
  outline: none;
  position: fixed;
  right: 20px;
  z-index: 9999;
  text-decoration: none;
  color: $color__text-white;
  background-color: $color__background-button-hover;
  text-align: center;
  @include border-radius(3px);
  @include transition(color 0.5s);
  &:hover,
  &:focus,
  &:active{
    color: $color__text-white;
    background-color: $color__background-button;
  }

  span{
    @include font-size(2);
    padding: 7px;
  }
}

// social icons

.social-section {
  margin-top: 20px;
  margin-bottom: 10px;
  @include mf-mobile-device(){
    text-align: right;
  }

  ul{
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
  }

  li{
    display: inline-block;
    margin-bottom: 10px;
  }

  a {
    background-color: darken($color__background-pre, 15%);
    color: $color__text-white !important;
    display: inline-block;
    font-family: $font__icon;
    font-weight: 400;
    height: 38px;
    line-height: 38px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    text-decoration: inherit;
    width: 38px;
    @include font-size(0.875);
    @include border-radius(100%);
    @include transition(0.5s ease);
      &:hover {
        background-color: $color__link-hover;
        color: $color__text-white;
      }

      &:before{
        font-family: $font__icon;
        @include font-size(1);
      }
    }

    a[href*="github.com"]:before {
      content: "\f200";
    }

    a[href*="dribbble.com"]:before {
      content: "\f201";
    }

    a[href*="twitter.com"]:before {
      content: "\f202";
    }

    a[href*="facebook.com"]:before {
      content: "\f204";
    }

    a[href*="wordpress.com"]:before,
    a[href*="wordpress.org"]:before {
      content: "\f205";
    }

    a[href*="plus.google.com"]:before {
      content: "\f206";
    }

    a[href*="linkedin.com"]:before {
      content: "\f207";
    }

    a[href*="pinterest.com"]:before {
      content: "\f209";
    }

    a[href*="flickr.com"]:before {
      content: "\f211";
    }

    a[href*="vimeo.com"]:before {
      content: "\f212";
    }

    a[href*="youtube.com"]:before {
      content: "\f213";
    }

    a[href*="tumblr.com"]:before {
      content: "\f214";
    }

    a[href*="instagram.com"]:before {
      content: "\f215";
    }

    a[href*="codepen.io"]:before {
      content: "\f216";
    }

    a[href*="polldaddy.com"]:before {
      content: "\f217";
    }

    a[href*="skype.com"]:before {
      content: "\f220";
    }

    a[href*="digg.com"]:before {
      content: "\f221";
    }

    a[href*="reddit.com"]:before {
      content: "\f222";
    }

    a[href*="stumbleupon.com"]:before {
      content: "\f223";
    }

    a[href*="pocket.com"]:before {
      content: "\f224";
    }

    a[href*="dropbox.com"]:before {
      content: "\f225";
    }

    a[href*="foursquare.com"]:before {
      content: "\f226";
    }
}

@import "lists";

@import "tables";

// custom style

.head-inner{
	@include clearfix();
	width: $size__site-full;
  @include mobile-device(){
    text-align: center;
  }
}

.head-inner:after{
	@include clearfix-after();
}

.site-title,
.site-title a{
  margin-bottom: 5px;
  @include font-size(2.25);
}

.site-description {
  margin-top: 5px;
}

.head-img{
  float: left;
  width: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
  background-color: #313131;
  color: #ffffff;
  background-position: center center;
  background-size: cover;
  background-repeat: repeat;
  overflow: hidden;
  height: 28em;
  text-align: center;
  display: table;
  margin-bottom: 40px;
  @include mobile-device(){
    height: 15em;
  }

  &:after{
    @include clearfix-after();
  }
  
  .head-titlecontainer {
    width: 100%;
    margin: auto;
    display: table-cell;
    vertical-align: middle;

    .head-title {
       display: inline-block;
       width: 60%;
       padding: 15px;
       vertical-align: middle;
       background-color: rgba(0,0,0,0.5);
       @include font-size(2.25);
       color: $color__text-button;
       &:hover{
          color: $color__text-button;
       }
       @include mobile-device(){
          @include font-size(1);
       }
    }
  }
}


// ========== HAPPY STYLING ========== //