.menu-toggle{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    padding: 10px 16px;
}

.site-header-menu {
	display: none;
	-webkit-flex: 0 1 100%;
	-ms-flex: 0 1 100%;
	flex: 0 1 100%;
	margin: 0.875em 0;
}

.site-header-menu.toggled-on,
.no-js .site-header-menu {
	display: block;
}

.main-navigation{
    .site-footer & {
        margin-bottom: 1.75em;
    }
    ul{
    	list-style: none;
        margin: 0;
        padding-left: 0;
        ul{
        	display: none;
        	margin-left: 0.875em;
        }

        .toggled-on{
            display: block;
        }
    }
    li{
        border-top: 1px solid #d1d1d1;
        position: relative;
    }
    a,
    a:visited{
        color: $color__text-menu;
        display: block;
        line-height: 1.3125;
        outline-offset: -1px;
        padding: 0.84375em 0;
        &:hover,
        &:focus,
        &:active{
            color: $color__link-hover;
        }
    }
    .current-menu-item > a,
    .current-menu-ancestor > a{
       font-weight: 700;
    }

    .primary-menu{
	   border-bottom: 1px solid #d1d1d1;
    }

    .menu-item-has-children > a{
        margin-right: 56px;
    }
}

.no-js .main-navigation ul ul {
    display: block;
}

.dropdown-toggle,
.dropdown-toggle:visited {
	background-color: transparent;
	border: 0;
	border-radius: 0;
	color: $color__text-menu;
	content: "";
	height: 48px;
	padding: 0;
	position: absolute;
	right: 0;
	text-transform: none;
	top: 0;
	width: 48px;
    &:after{
    	border: 0 solid #d1d1d1;
    	border-left-width: 1px;
        display: inline-block;
    	content: "\f431";
        font-family: $font__icon;
    	font-size: 24px;
    	left: 1px;
    	position: relative;
    	width: 48px;
    }
    &:hover,
    &:focus,
    &:active{
    	background-color: transparent;
    	color: $color__link-hover;
    }
    &:focus{
    	outline: thin dotted;
    	outline-offset: -1px;
        &:after{
	       border-color: transparent;
        }
    }
    &.toggled-on{
        &:after{
        	content: "\f432";
            font-family: $font__icon;
        }
    }
}

@media screen and (min-width: 768px) {
    .site-header {
        padding-left: 4.5455%;
        padding-right: 4.5455%;
    }

    .site-header-main {
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .site-header-menu {
        display: block;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
    }

    .main-navigation {
        border-bottom: 3px solid #ccc;
        border-top: 3px solid #ccc;
        margin: 0;
        width: 100%;
        @include clearfix();
    }
    
    .main-navigation {
        ul{
           padding-left: 0;
            ul {
                border-bottom: 1px solid #d1d1d1;
                display: block;
                left: -999em;
                margin: 0;
                position: absolute;
                z-index: 99999;
                &:before,
                &:after {
                    border-style: solid;
                    content: "";
                    position: absolute;
                }

                &:before {
                    border-color: #d1d1d1 transparent;
                    border-width: 0 10px 10px;
                    left: 9px;
                    top: -9px;
                }

                &:after {
                    border-color: #fff transparent;
                    border-width: 0 8px 8px;
                    left: 11px;
                    top: -7px;
                }

                li {
                    background-color: #fff;
                    border: 1px solid #d1d1d1;
                    border-bottom-width: 0;
                }

                li:hover > ul,
                li.focus > ul {
                    left: 100%;
                    right: auto;
                }

                a {
                    white-space: normal;
                    width: 12.6875em;
                }

                ul {
                    top: -1px;
                    &:before,
                    &:after {
                        border: 0;
                    }
                }

                .menu-item-has-children > a {
                    padding-right: 2.0625em;
                    &:after {
                        right: 0.5625em;
                        top: 0.875em;
                        -webkit-transform: rotate(-90deg);
                        -moz-transform: rotate(-90deg);
                        -ms-transform: rotate(-90deg);
                        transform: rotate(-90deg);
                    }
                }
            }
        }

        .primary-menu,
        .primary-menu > li{
            border: 0;
        }

        .primary-menu > li {
            float: left;
        }

        a,
        a:visited{
            outline-offset: -8px;
            padding: 0.65625em 0.875em;
            white-space: nowrap;
        }

        li:hover > a,
        li.focus > a,
        li.active > a {
            color: $color__link-hover;
        }

        li:hover > ul,
        li.focus > ul {
            left: 0;
            right: auto;
        }

        .menu-item-has-children > a {
            margin: 0;
            padding-right: 2.25em;
            &:after {
                content: "\f431";
                font-family: $font__icon;
                position: absolute;
                right: 0.625em;
                top: 0.8125em;
            }
        }
    }
    
    .dropdown-toggle,
    .main-navigation ul .dropdown-toggle.toggled-on,
    .menu-toggle,
    .site-footer .main-navigation {
        display: none;
    }
}