.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	background-color: $color__background-body;
	margin-bottom: 1.875em;

	@media screen and (min-width: 37.5em){
		border-top: 3px solid $color__background-hr;
		border-bottom: 3px solid $color__background-hr;
	}

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		@media screen and (max-width: 37.5em){
			background-color: $color__background-hr;
		}

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 2.7em;
			left: -999em;
			z-index: 99999;
			background-color: $color__background-pre;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;
		@include mf-mobile-device(){
			float: left;
		}

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
		color: $color__text-menu;
		font-family: $font__main;
		@include font-size(1);
		font-weight: 400;
		padding: 9px 1em 10px;

		&:hover{
			color: $color__link-hover;
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (max-width: 37.5em){
	.menu-toggle{
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

.footer-navigation {
	ul {
		margin: 0;
		li {
			display: inline-block;
			margin: 0 5px;
			a {
				text-decoration: none;
			}
		}
	}
}

a.scrollup {
	float: right;
	bottom: 50px;
	color: #444;
	display: none;
	outline: none;
	position: fixed;
	right: 20px;
	z-index: 9999;
	text-decoration: none;
	&:focus{
		border: 1px #FFF solid;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	}
	&:active{
		float: right;
		bottom: 50px;
		color: #444;
		display: none;
		outline: none;
		position: fixed;
		right: 20px;
		z-index: 9999;
		text-decoration: none;
	}
	span {
		font-size: 50px;
	}

}
