.comment-list{
	list-style:none;
	padding-left: 0; 
}

.comment-content {
  a{
    word-wrap: break-word;
  }
}

body:not(.single) .comment-content {
  ol{
    list-style-type: none;
  }
}

.bypostauthor {
  display: block;
}

.comment-author {
  .avatar{
    float: left;
    height: 3em;
    width: 3em;
    margin-right: 0.8em;
    @include border-radius(30px);
  }
}

.comments-area{
  .reply{
    a{
      border-bottom: 1px solid $color__background-hr;
      padding-bottom: 5px;
      display: inline-block;
      margin-bottom: 15px;
    } 
  }
}