 article.hentry {
	.blog &,
	#blog-post &,
	.search &,
	.archive &,
	.tag &,
	.category &,
	#ak-blog-post {
		border-bottom: 3px solid $color__background-hr;
		margin-bottom: 1.875em;
		padding-bottom: 1.875em;
	}
}

.entry-title {
	.search article.hentry &,
	.page article.hentry &,
	.blog article.hentry,
	.archive article.hentry,
	.single article.hentry {
		@include font-size(1.5);
		text-transform: inherit;
		font-weight: 700;
		margin-bottom: 5px;
	}
}

%entry-icon {
  @include font-size(1.125);
  vertical-align: middle;
  font-family: $font__icon;
  margin-right: 5px;
}

.cat-links {
    &:before {
  	  @extend %entry-icon;
    	content: "\f301";
  	}
}

.tags-links {
    &:before {
  	  @extend %entry-icon;
    	 content: "\f302";
  	}
}

.tags-links {
  padding-left: 10px;
}

.comments-link {
	padding-left: 10px;
  	&:before {
	  @extend %entry-icon;
  	  content: "\f300";
	}
}

.comments-link {
  margin-top: 15px;
}

.comments-title,
.comment-reply-title{
  @include font-size(1.125);
  line-height: $font__line-height-body;
}

.posted-on {
	&:before {
	  @extend %entry-icon;
	  content: "\f307";
	}
}

a{
	.posted-on &,
	.cat-links &,
	.tags-links &,
	.byline &,
	.comments-link &{
		color: $color__link-hover;
		font-weight: normal;
		&:hover{
			color: $color__link;
		}
	}

}

.edit-link {
  	margin-left: 15px;
  	&:before{
		@extend %entry-icon;
		content: "\f411";
  	}

  	a{
  		color: $color__link-hover;
  		text-decoration: underline;
 	}

   &:hover,
   &:focus{
  	   color: $color__link;
   }
}

a {
	.nav-links .nav-previous &,
	.nav-links .nav-next &{
		color: $color__link;
		border: 1px solid $color__background-hr;
		@include border-radius(2px);
		@include font-size(0.875);
		display: inline-block;
		padding: 6px 1em 7px 1.875em;
		position: relative;
	}

	.nav-links .nav-next &{
		padding-left: 1em;
		padding-right: 1.875em;
	}
}

.nav-links .nav-previous,
.nav-links .nav-next{
	a{
		&:before,
		&:after{
			position: absolute;
			font-family: $font__icon;
			display: inline-block;
		}
		&:hover,
		&:focus{
			color: $color__link-hover;
		}
	}
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.byline {
	&:before {
	  @extend %entry-icon;
	  content: "\f304";
	}
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.post-navigation,
.comment-navigation {
	.site-main &{
	    margin: 0 0 1.5em;
	    overflow: hidden;
  }
}

.nav-previous {
	.comment-navigation &{
 		float: left;
  		width: 50%;
  }
}

.nav-next {
	.comment-navigation &{
		float: right;
		text-align: right;
		width: 50%;
  }
}

.post-navigation {
	border-top: 3px $color__text-title solid;
	border-bottom: 3px $color__text-title solid;
	padding: 15px 0;
	.nav-links {
		 a {
		 	padding: 0;
		 	border: none;
		 	text-decoration: none;
			.meta-nav{
				clear: both;
				display: block;
			}
			.post-title{
				@include font-size(2);
				@include mobile-device(){
					@include font-size(1.5);
				}
			}
		}
	}

}

.meta-nav{
	.nav-previous &,
	.nav-next &{
		text-transform: uppercase;
	}
}

.pagination.navigation {
	margin: 15px 0;
	padding: 15px 0;
	text-align: center;
	.nav-links {
		a,
		span {
			padding: 10px;
			margin: 0 2px;
		}
	}
}
